:root {
    --background: #f27b1f; 
    --text: white;
    --calculator: #171718;
    --display: #373737;
    --display-text: #499122;
    --number-button: #484c4f;
    --operation-button: #5396f6;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: auto;
}

html {
    font-family: "Montserrat", sans-serif;
    font-size: 62.5%;
    line-height: 1.6;
}

body {
    background-color: var(--background);
    font-size: 1.6rem;
    text-align: center;
    color: var(--text);
}

.container {
    padding: 1rem;
}

.title {
    font-size: 3rem;
    margin: 10rem;
}

#calculator-container {
    background-color: var(--calculator);
    max-width: 400px;
    min-height: 500px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 4px 5px 5px 0px rgb(0 0 0 / 50%);
}

#display {
    background-color: var(--display);
    color: var(--display-text);
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 2rem;
    padding: 1rem;
    height: 10vh;
    box-shadow: inset 2px 3px 5px 0px rgb(0 0 0 / 70%);
    border-radius: 10px;
}

#display-operation, #display-result {
    height: 50%;
    text-align: end;
    font-size: 2.5rem;
}

#button-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
    height: 40vh;
}

.button {
    color: var(--text);
    font-size: 2rem;
    font-weight: 700;
    border-radius: 60px;
    box-shadow: 4px 5px 5px 0px rgb(0 0 0 / 50%);
    border: 1px solid silver;
}

.operation-button, .special-button {
    background-color: var(--operation-button);
}

.number-button, .answer-button {
    background-color: var(--number-button);
}

